.rooms-map {
    // border: 2px dotted red;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

// .map-container {
//     width: 100%;
//     border: 2px dotted green;
//     display: flex;
//     flex-direction: column;
// }

// .empty-container {
//     border: 2px dotted blue;
//     flex-grow: 2;
// }