.room {
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    @include flex(space-between, column);
    height: 300px;
    width: 270px;
    padding: 10px;
    margin: 20px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #DDBEA880;
}

.room img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.room h1 {
    font-size: 2rem;
    text-decoration: none;
}