.room-title {
    // @include border(red);
    @include flex(center, row);
    padding: 2rem 0;

    h1 {
        margin-right: 1rem;
    }
}

.room-main {
    // @include border(cyan);
    height: calc(100vh - 14.2rem);
    @include flex(space-between, row);
}

.room-column {
    // @include border(orange);
    height: 100%;
    padding: 1rem;
    background: rgba(0,0,0,0.6);
    border-radius: 7px;
    border: 2px solid $secondary-color;
}

.room-item-list {
    background-color: #246A7380;
    height: 93%;
    overflow: scroll;
    margin: 1rem 0;
    border-radius: 5px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 3px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        // width: 2px;
        background: #246A73;
    }
}



.outer {
    width: 25%;
}

.inner {
    width: 50%;
    margin: 0 1rem;
}

.delete {
    margin-left: 1rem;
}