@import url("https://use.typekit.net/zor0egj.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.react-icons {
  vertical-align: middle;
}

@-webkit-keyframes fly-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fly-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fly-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fly-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fly-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.auth-main {
  height: 100vh;
  width: 100%;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.auth-img {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#160F2996), to(#246A7395)), url("../assets/img/landing-bg.jpg");
  background: linear-gradient(to right, #160F2996, #246A7395), url("../assets/img/landing-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.auth-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 60%;
  margin-left: 40%;
}

.auth-login img {
  height: 300px;
  margin: 50px 0;
  -webkit-animation: fly-right 1s ease-in-out;
          animation: fly-right 1s ease-in-out;
}

.auth-login a {
  width: 320px;
  background-color: #246A73;
  padding: 20px 0;
  text-decoration: none;
  color: #F3DFC1;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10px;
  -webkit-animation: fly-left 1s ease-in-out;
          animation: fly-left 1s ease-in-out;
}

.auth-login a:hover {
  background-color: #368F8B;
}

.auth-section {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.auth-section a {
  width: 320px;
  background-color: #246A73;
  padding: 20px 0;
  text-decoration: none;
  color: #F3DFC1;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10px;
}

.auth-section a:hover {
  background-color: #368F8B;
}

.auth-section h1 {
  width: 400px;
  margin: 0 25px;
}

.auth-section img {
  height: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  margin: 0 25px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.nav-links p {
  cursor: pointer;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.dash-container {
  min-height: calc(100vh - 64px);
}

.dash-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 470px;
  height: 60px;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid #246A73;
}

.dash-container nav span {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.dash-container nav span:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.rooms-map {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.highlight {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.room {
  background: -webkit-gradient(linear, left top, left bottom, from(#160F29), to(#246A73));
  background: linear-gradient(to bottom, #160F29, #246A73);
  height: 300px;
  width: 270px;
  padding: 10px;
  margin: 20px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 3px #DDBEA880;
          box-shadow: 0 0 5px 3px #DDBEA880;
}

.room img {
  height: 150px;
  margin: 10px;
}

.room h1 {
  font-size: 2rem;
  text-decoration: none;
}

.footer-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #246A73;
  padding: .7rem 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-component p {
  margin: 0 10px;
}

.room-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0;
}

.room-title h1 {
  margin-right: 1rem;
}

.room-invite {
  position: absolute;
  left: 10px;
}

.room-invite input {
  width: 250px;
  margin: 0 10px;
}

.room-main {
  height: calc(100vh - 14.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room-column {
  height: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  border: 2px solid #246A73;
}

.room-item-list {
  background-color: #246A7380;
  height: 93%;
  overflow: scroll;
  margin: 1rem 0;
  border-radius: 5px;
  overflow-x: hidden;
}

.room-item-list::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.room-item-list::-webkit-scrollbar-thumb {
  background: #246A73;
}

.outer {
  width: 25%;
}

.inner {
  width: 50%;
  margin: 0 1rem;
}

.delete {
  margin-left: 1rem;
}

.temp_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playlist-render {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid #123439;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.playlist-render:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #368F8B;
}

.playlist-render img {
  height: 100%;
  margin-right: 10px;
}

.playlist-info {
  text-align: left;
}

.track-render {
  background: #368F8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 1rem;
  cursor: pointer;
}

.track-render:hover {
  background-color: #246A73;
}

.track-render p {
  margin: 5px 0;
  margin-left: 25px;
  text-align: left;
  font-size: .85rem;
}

.chat-container {
  border: 1px solid #246A73;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90%;
  margin: 15px 0;
}

.chat-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-top: 1px solid #246A73;
  padding: 20px;
}

.chat-container form input {
  border: none;
  border-bottom: 2px solid #246A73;
  background-color: transparent;
  margin-right: 10px;
  color: #F3DFC1;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem 0;
  width: 100%;
}

.chat-container form input::-webkit-input-placeholder {
  color: #18464c;
}

.chat-container form input:-ms-input-placeholder {
  color: #18464c;
}

.chat-container form input::-ms-input-placeholder {
  color: #18464c;
}

.chat-container form input::placeholder {
  color: #18464c;
}

.chat-container form button {
  border-radius: 50%;
  margin-left: 10px;
}

.messages-container {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-container::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background: #246A73;
}

.chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  text-align: left;
  padding: 0 20px;
  margin: 20px 0;
}

.chat-message h3 {
  width: initial;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #246A73;
}

.chat-message p {
  font-size: .7rem;
  color: #368F8B;
  margin: 0 10px;
}

.local-user {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.local-user h3 {
  background-color: #246A73;
  border: none;
}

.new-room-container {
  background-color: rgba(36, 106, 115, 0.98);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fly-down .5s ease-in-out;
          animation: fly-down .5s ease-in-out;
}

.new-room-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #160F29;
  width: 600px;
  height: 520px;
  padding: 30px;
  border-radius: 10px;
}

.new-room-form h2 {
  margin-bottom: 25px;
}

.new-room-close {
  cursor: pointer;
  position: relative;
  left: 275px;
  bottom: 80px;
  font-size: 1.2rem;
}

.new-room-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
}

.new-room-line input {
  width: 100%;
}

.new-room-line #private {
  width: initial;
  margin-right: 10px;
}

.new-room-line label {
  margin-right: 25px;
}

.new-room-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
}

.new-room-radio input {
  margin-right: 10px;
}

.new-room-radio label {
  margin-right: 50px;
}

.new-room-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
  width: 90%;
}

.new-room-upload img {
  height: 100px;
  margin-right: 25px;
}

.dropzone {
  padding: 40px 20px;
  width: 90%;
  border: 2px dashed #368F8B;
  border-radius: 5px;
  font-size: 1rem;
}

#create-room-btn {
  background-color: #160F29;
  width: 600px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

#create-room-btn:hover {
  background-color: rgba(22, 15, 41, 0.8);
}

#invite-input {
  margin-right: 10px;
  width: 520px;
}

#invite-btn {
  background-color: #160F29;
  width: 60px;
  margin: 15px 0;
  margin-left: 10px;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

#invite-btn:hover {
  background-color: rgba(22, 15, 41, 0.8);
}

.loading-container {
  background-color: #160F29;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 2;
}

.loading-container h1 {
  font-size: 4rem;
  margin-top: 30px;
}

.contact-container {
  height: calc(100vh - 62px);
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 115px);
}

.email-form h1 {
  margin-bottom: 20px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form button {
  margin: 0 auto;
  width: 200px;
  height: 40px;
}

.form-line input {
  margin: 10px;
  width: 300px;
}

.form-line textarea {
  margin: 10px;
  outline: none;
  padding: 10px;
  width: 620px;
  height: 150px;
  background: transparent;
  border: 2px solid #368F8B;
  border-radius: 5px;
  color: #F3DFC1;
  font-family: 'canada-type-gibson', sans-serif;
  font-size: 1rem;
  resize: none;
  overflow: auto;
}

.form-line textarea::-webkit-input-placeholder {
  color: #246A73;
}

.form-line textarea:-ms-input-placeholder {
  color: #246A73;
}

.form-line textarea::-ms-input-placeholder {
  color: #246A73;
}

.form-line textarea::placeholder {
  color: #246A73;
}

.profile-container {
  min-height: calc(100vh - 62px);
}

.profile-info {
  margin: 30px 0;
}

.profile-info img {
  height: 200px;
  border-radius: 50%;
  margin: 20px 0;
}

.App {
  text-align: center;
  color: #F3DFC1;
  font-family: 'canada-type-gibson', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#160F29), to(#246A73));
  background: linear-gradient(to bottom, #160F29, #246A73);
}

.App a {
  text-decoration: none;
  color: #F3DFC1;
}

.App span {
  font-family: 'canada-type-gibson', sans-serif;
}

.lighten {
  background: #20163c;
}

.hidden {
  display: none;
}

button {
  background-color: #246A73;
  border: none;
  color: #F3DFC1;
  font-weight: 700;
  padding: .5rem;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

button:hover {
  background-color: #368F8B;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F3DFC1;
  font-size: 1.2rem;
  padding: 5px 0;
  outline: none;
  color: #F3DFC1;
  font-weight: 700;
}

input::-webkit-input-placeholder {
  color: rgba(243, 223, 193, 0.5);
}

input:-ms-input-placeholder {
  color: rgba(243, 223, 193, 0.5);
}

input::-ms-input-placeholder {
  color: rgba(243, 223, 193, 0.5);
}

input::placeholder {
  color: rgba(243, 223, 193, 0.5);
}
/*# sourceMappingURL=App.css.map */